///////////////////////////////////////
// IMPORTS ////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

///////////////////////////////////////
// VARIABLES //////////////////////////

$colors: (
  Red: hsl(0, 100%, 68%),
  Very-Dark-Blue: hsl(230, 29%, 20%),
  Dark-Grayish-Blue: hsl(230, 11%, 40%),
  Grayish-Blue: hsl(231, 7%, 65%),
  Light-Grayish-Blue: hsl(207, 33%, 95%),
  White: hsl(0, 0%, 100%),
);

$heading-font: "Barlow Condensed", sans-serif;
$body-font: "Barlow", sans-serif;

$page-padding: 100px;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin section() {
  box-sizing: border-box;
  width: 100%;
}

@mixin link($font-size: 16px) {
  user-select: none;
  font-family: $heading-font;
  font-size: $font-size;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin: 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &--black {
    color: color(Very-Dark-Blue);
  }

  &--grey {
    color: color(Grayish-Blue);
  }
}

@mixin circle($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
  border: none;
  border-radius: 100%;
  opacity: 0.5;
}

@mixin tag($font-size, $bg-color, $color) {
  text-align: center;
  background-color: $bg-color;
  color: $color;
  font-family: $heading-font;
  font-size: $font-size;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 30px;
  padding: 4px 10px;
  margin: 0;
}

@mixin light-paragraph($font-size: 14px) {
  color: color(Grayish-Blue);
  font-family: $body-font;
  font-size: $font-size;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

@mixin heading($font-size: 32px) {
  color: colr(Very-Dark-Blue);
  font-family: $heading-font;
  font-size: $font-size;
  font-weight: 700;
  line-height: $font-size;
  margin: 0;
}

@mixin paragraph($font-size: 16px) {
  color: color(Dark-Grayish-Blue);
  font-family: $body-font;
  font-size: $font-size;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: $font-size * 1.6;
  margin: 0;
}

@mixin btn() {
  all: unset;
  text-align: center;
  background-color: color(Red);
  color: color(Light-Grayish-Blue);
  font-family: $heading-font;
  font-size: 16.5px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, flex-start);
  min-height: 100vh;
}

.page {
  @include flex(column, flex-start, center);
  width: 100%;
}

.header {
  @include flex(row, space-between, center);
  @include section();
  padding: 55px $page-padding 0;
  margin: 0 0 75px 0;

  &__logo {
    width: 31px;
  }

  &__links {
    @include flex(row, space-between, center);
    width: 375px;
  }

  &__link {
    @include link(17.5px);
  }

  &__circle {
    @include circle(5px, color(Grayish-Blue));
  }
}

.intro {
  @include flex(row, flex-start, center);
  @include section();
  padding: 0 0 0 $page-padding;
  margin: 0 0 70px 0;

  &__text-container {
    @include flex(column, flex-start, flex-start);
    max-width: 400px;
  }

  &__tag-container {
    @include flex(row, flex-start, center);
    margin: 0 0 12px 0;
  }

  &__tag {
    @include tag(15px, color(Very-Dark-Blue), color(White));
    margin: 0 15px 0 0;
  }

  &__light-paragraph {
    @include light-paragraph(13.5px);
  }

  &__heading {
    @include heading(54px);
  }

  &__paragraph {
    @include paragraph(17px);
    max-width: 270px;
    margin: 25px 0 40px;
  }

  &__btn-container {
    @include flex(row, flex-start, center);
  }

  &__btn {
    @include btn();
    margin: 0 15px 0 0;
  }

  &__img-container {
    @include flex(column, flex-start, flex-start);
    overflow: hidden;
    margin: 0 0 0 8vw;
  }

  &__img {
    width: 65vw;
    min-height: 60vh;
  }
}

.bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 53vw;
  height: 60vh;
  background-color: color(Light-Grayish-Blue);
  border: none;
  border-radius: 0 0 0 2em;
  z-index: -1;
}
